@media only screen and (max-width: 2000px){
    .main-conteiner{
        width: 35%;
        border-radius: 1.2rem;
        box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        margin: 10rem auto;
    }
    .main-title{
        color: #4f4f4f;
        font-family: Poppins, sans-serif;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .paragraph{
        font-size: 1rem;
        font-family: Poppins, sans-serif;
        color: #828282;
    }
    .img-conteiner{
        position: relative;
        width: 90%;
        border-radius: 1.2rem;
        background-color: #F6F8FB;
        border: 0.1rem dashed #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
        padding: 2rem 0;
    }
    .img-preview{
        position: absolute;
        border-radius: 1.2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
    }
    .img-user-instructions{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-user-instructions .svg-icon{
        margin: 2rem 0 5rem 0;
    }
    .invisible-file-uploader{
        border: none;
        position: absolute;
        background-color: #F6F8FB;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        top: 0;
    }
    .fake-input-button-conteiner{
        margin-top: 1rem;
        position: relative;
    }
    .fake-input-button{
        padding: 1rem 2rem;
        color: #F6F8FB;
        background-color: #0095ff;
        border: none;
        border-radius: 0.5rem;
        position: relative;
    }
    #submit-btn{
        padding: 1rem 2rem;
        color: #F6F8FB;
        background-color: #0095ff;
        border: none;
        border-radius: 0.5rem;
        position: relative;
        z-index: -1;
        opacity: 0;
        position: absolute;
    }
    .real-input-button{
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 2;
    }
    .effect-filter{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: #00000037;
        display: none;
        z-index: 1000;
    }
    .progress-conteiner{
        position: relative;
        width: 35%;
        padding: 1rem 2rem;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F6F8FB;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .loading-text{
        margin: 1rem 0;
        font-size: 2.5rem;
        color: #333;
        font-family: Poppins, sans-serif;
        margin-bottom: 2rem;
    }
    .progress-bar-conteiner{
        width: 90%;
        margin: 2rem 0;
        margin-top: 0;
        height: 1.2rem;
        background-color: #4f4f4f7a;
        border-radius: 1.5rem;
        position: relative;
        overflow: hidden;
    }
    .progress-bar-conteiner .progress-bar{
        width: 0%;
        height: 100%;
        position: absolute;
        border-radius: 1.5rem;
        background-color: #0095ff;
        transition: 0.5s;
    }
}